<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">DeepBio provides AI solutions for unmet medical needs using deep learning technology.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Research</h4>
                    <p class="text-muted">Our diversified research team includes not only experts in deep learning, but also specialists from various backgrounds.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-highlighter fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Intelligence Anotation</h4>
                    <p class="text-muted">The quality of data is the quality of deep neural network. In DeepBio, our dedicated data annotator produces robust data crucial to deep learning, which is then verified by our medical affiliates.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Qualified Medical Affiliates</h4>
                    <p class="text-muted">Our research is supported upon strong affiliation with prestigious medical authorities. Direct assistance is provided in data acquisition, research advisory, and performance verification.</p>
                </div>
            </div>
        </div>
    </section>
